In [3]:
import json
import pandas as pd
import numpy as np
import csv
from faker import Faker
from faker.providers import internet
import datetime
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
def datagenerate(records, headers):
    fake = Faker('en_US')
    fake1 = Faker('en_GB')
    with open('fake_address.csv', 'wt') as csvFile:
        writer = csv.DictWriter(csvFile, fieldnames=headers)
        writer.writeheader()
        for i in range(records):
            
            writer.writerow({
                'Census Track' : fake.pyint(min_value=0,
                                            max_value=999999, 
                                            step=1),
                'Average Income' : fake.pyint(min_value=10000,
                                              max_value=9999999,
                                              step=1),
                'Neighborhood' : fake.pyint(min_value=10,
                                            max_value=99,
                                            step=1),
                'Shape_Area' : fake.pyint(min_value=100,
                                            max_value=999,
                                            step=1),
                'City' : fake.city(),
                'County' : fake.pyint(min_value=0,
                                            max_value=99,
                                            step=1),
                'State' : fake.state(),
            })

if __name__ == '__main__':
    records = 1000
    headers = ['Census Track','Average Income','Neighborhood',
               'Shape_Area','City','County','State','Country']
    datagenerate(records, headers)
    print('CSV Generation Complete!')

CSV Generation Complete!

In [4]:
fake_df = pd.read_csv('fake_address.csv')
fake_df.head()

,Census Track,Average Income,Neighborhood,Shape_Area,City,County,State,Country
0,686114,1904514,12,646,New Jennifer,70,Oklahoma,NaN
1,241828,477020,41,618,Blairton,77,Delaware,NaN
2,167495,5236724,87,626,Briggsville,42,Kansas,NaN
3,805008,4813103,53,424,Allenton,19,Vermont,NaN
4,100194,3158504,79,531,Millerland,52,Arizona,NaN

In [6]:
db_string=f'postgres://postgres:{db_password}@127.0.0.1:5432/fake_data'
engine=create_engine(db_string)
fake_df.to_sql(name='fake', con=engine)