In [1]:
import pandas as pd
from lxml import html

In [2]:
tables = pd.read_html("http://www.usa.com/rank/california-state--median-household-income--zip-code-rank.htm?hl=&hlst=&wist=&yr=9000&dis=&sb=DESC&plow=&phigh=&ps=")

In [3]:
print(tables)

[          0                          1                 2
0      Rank  Median Household Income ▼  Zip / Population
1        1.                   $236,912     94027 / 7,230
2        2.                   $228,587     92145 / 1,968
3        3.                   $200,325       91980 / 631
4        4.                   $187,857     94957 / 1,063
...     ...                        ...               ...
1682  1682.                    $11,922     93721 / 6,308
1683  1683.                    $11,250        93530 / 28
1684  1684.                    $10,625     90089 / 3,326
1685  1685.                    $10,481        95915 / 58
1686  1686.                     $6,827       93669 / 284

[1687 rows x 3 columns]]

In [68]:
#transform html into a df with co names
url = "http://www.usa.com/rank/california-state--median-household-income--zip-code-rank.htm?hl=&hlst=&wist=&yr=9000&dis=&sb=DESC&plow=&phigh=&ps="
dfs = pd.read_html(url)
df = pd.concat(dfs)
df.columns = ['rank', 'm_h_i_2014', 'zip']

In [69]:
#drop the ramk columns
df.drop('rank', axis=1, inplace = True)

In [70]:
#format the zip, get. just the forst 5 numbers
df['zip'] = [x[:-5] for x in df['zip'] if len(df['zip']) >= 11]

In [71]:
df['zip']

0       Zip / Popul
1          94027 /
2          92145 /
3            91980
4          94957 /
           ...
1682       93721 /
1683          93530
1684       90089 /
1685          95915
1686         93669
Name: zip, Length: 1687, dtype: object

In [72]:
#drop the /
df['zip'] = df['zip'].replace({'/':''}, regex=True)

In [73]:
df['zip'] = [z[0:5] for z in df['zip']]

In [75]:
#drop the first row
df = df.iloc[1:]

In [103]:
#name the columns
df.columns = ['Median_Household_Income_2014', 'Zip']

In [105]:
df.to_csv('median_income_2014.csv')

In [7]:
#white pop %
url = "http://www.usa.com/rank/california-state--median-rental-price--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh= "
dfs = pd.read_html(url)
df = pd.concat(dfs)

In [8]:
df.columns = ['rank', 'Median_Rent_2014', 'zip']
df.drop('rank', axis=1, inplace = True)

In [143]:
df['zip'] = [x[:-4] for x in df['zip'] if len(df['zip']) >= 10]
df['zip'] = df['zip'].replace({'/':''}, regex=True)
df['zip'] = [z[0:5] for z in df['zip']]     
df = df.iloc[1:]

In [144]:
df.columns = ['White Population % in 2014', 'zip']

In [145]:
df.to_csv('white_pop_2014.csv')

In [4]:
def table_clean(df):
    df['zip'] = [x[:-4] for x in df['zip'] if len(df['zip']) >= 10]
    df['zip'] = df['zip'].replace({'/':''}, regex=True)
    df['zip'] = [z[0:5] for z in df['zip']]     
    df = df.iloc[1:]
    return df

In [146]:
url = 'http://www.usa.com/rank/california-state--white-population-percentage--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh='
dfs = pd.read_html(url)
df = pd.concat(dfs)

In [147]:
df.columns = ['rank', 'White Population % in 2000', 'zip']
df.drop('rank', axis=1, inplace = True)

In [5]:
df =table_clean(df)

In [6]:
df.to_csv('median_rent_2000.csv')

In [150]:
#total_population 
url='http://www.usa.com/rank/california-state--total-population--zip-code-rank.htm?yr=9000&dis=50&wist=&plow=&phigh='
dfs = pd.read_html(url)
df = pd.concat(dfs)

In [151]:
df.columns = ['rank', 'Total Population % in 2014', 'zip']
df.drop('rank', axis=1, inplace = True)

In [152]:
df = table_clean(df)

In [153]:
df.to_csv('total_pop_2014.csv')

In [157]:
#create a fucntion that combines all the steps
def total_func(url):
    dfs = pd.read_html(url)
    df = pd.concat(dfs)
    df.columns = ['rank', 'Total Population in 2000', 'zip']
    df.drop('rank', axis=1, inplace = True)
    df['zip'] = [x[:-4] for x in df['zip'] if len(df['zip']) >= 10]
    df['zip'] = df['zip'].replace({'/':''}, regex=True)
    df['zip'] = [z[0:5] for z in df['zip']]     
    df = df.iloc[1:]
    return df

In [158]:
total_func('http://www.usa.com/rank/california-state--total-population--zip-code-rank.htm?yr=1000&dis=50&wist=&plow=&phigh=')

     Total Population in 2000    zip
1                      105275  90201
2                      103211  90650
3                      101214  90011
4                       98226  92054
5                       97300  91331
...                       ...    ...
1666                        6  90071
1667                        4  95937
1668                        3  91743
1669                        2  90263
1670                        2  95836

[1670 rows x 2 columns]

In [159]:
df.to_csv('total_pop_2000.csv')