In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

Using TensorFlow backend.

In [2]:
data = 'xxx.csv'
df = pd.read_csv(data, decimal=',')
df.head()

,ZCTA5,Median Income 2000,Inflation Adjusted 2000,Median Income 2014,percent change,gentrified,autocustomization,autopartssupplies,barbers,barreclasses,...,movietheaters,musicvenues,organic_stores,paintandsip,pawn,pets,pubs,skate_parks,tattoo,thrift_stores
0,94102,22351.00,30725.88,24127.00,-0.21,N,0,0,9,2,...,0,20,0,0,0,0,4,0,3,0
1,94103,31131.00,42795.72,41612.00,-0.03,N,0,6,7,2,...,0,19,0,1,5,0,0,3,9,0
2,94104,14609.00,20082.96,80341.00,3.00,Y,0,0,10,0,...,0,0,0,0,0,0,0,0,0,0
3,94105,88976.00,122315.13,170656.00,0.40,N,0,0,1,1,...,0,5,1,0,0,1,2,0,1,0
4,94107,61362.00,84354.22,120610.00,0.43,N,0,1,3,1,...,0,7,0,1,0,0,1,0,1,1

In [3]:
df.set_index(' ZCTA5', inplace=True)

In [4]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
le = LabelEncoder()
df['gentrified'] = le.fit_transform(df['gentrified'])

In [38]:
X = df.copy()
X.drop('gentrified', axis=1, inplace=True)
y = df['gentrified']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({0: 110, 1: 12})

In [28]:

from sklearn.preprocessing import StandardScaler
scaler =  MinMaxScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [40]:
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)

Counter(y_resampled)

Counter({0: 110, 1: 110})

In [41]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=1, max_iter=100)
model.fit(X_resampled, y_resampled)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[37,  0],
       [ 4,  0]])

In [43]:
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.5

In [44]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.90      1.00      0.00      0.95      0.00      0.00        37
          1       0.00      0.00      1.00      0.00      0.00      0.00         4

avg / total       0.81      0.90      0.10      0.86      0.00      0.00        41

/Users/alena/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))